<%- include("header") -%>

 <h2> This is About Page</h2>
 <p>This app was created with udemy course, The complete 2022 Web Development Bootcamp</p>
 <P> This app was made using node.js (express.js and body-parser) and ejs. </p> 


<%- include("footer") -%>